-#######################################################################################
-# @Auth: SoftWinner
-# @Date: 2021.5.27
-# @Desc: Controller Fuction for Full Redirecting to URL of out of mastodon's domain, for example : http:\\outdomain.com
-#######################################################################################

:javascript
    console.log('>>>>>>>>>>>>>>>> Redirect URL>>>>>>>>>>>>')
    var redirect_url = "#{j@redirect_url}"
    console.log(redirect_url)